* {
    box-sizing: border-box;
}

.home{
    display: flex;
    width: 80%;
    background-color: black;
    justify-content: space-between;
}

.form-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Higher than foggy background */
    width: 28%;
}