* {
    box-sizing: border-box;
}

.home{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    justify-content: space-between;
}

.appMiddle h1{
    color: white;
    padding: 2rem;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    font-style: italic;
    text-decoration: underline;
}

.form-container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Higher than foggy background */
    width: 28%;
}